# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
node_modules/
.pnp
.pnp.js

# Build artifacts
dist/
/build

# Testing
/coverage

# Editor and IDE specific files
.vscode/
.idea/

# Local configuration files
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db
